# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\HappyCoding\PyCharm\ALI_DPFL_mindspore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
